{
  "port" : 3975,
  "slack" : {
    "api_token" : "test",
    "payload_token" : "token",
    "command_token" : "token2",
    "command_endpoint" : "/command",
    "command_search_command" : "/search",
    "command_stats_command" : "/stats",
    "domain" : "domain",
    "search" : {
      "limit": 5,
      "color": "#36a64f"
    }
  },
  "db": {
    "path" : "db.sqlite"
  }

}