<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Slack HE — Dashboard</title>
    <meta name="description" content="Dashboard for search and history">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/favicon.png">
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% block content %}
{% endblock %}

{% block script %}
{% endblock %}

  </body>
</html>